src/main/webapp/resources/wsdl/correoReproceso.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.cgr.cl/osb/informes/ic/v2/sigfe/correo-reproceso"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:io="http://www.contraloria.cl/xml/esquemas"
                  xmlns:tns="http://www.cgr.cl/osb/informes/ic/v2/sigfe/correo-reproceso">
    <wsdl:types>
        <xs:schema xmlns="http://www.contraloria.cl/xml/esquemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.contraloria.cl/xml/esquemas" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="enviarCorreoReprocesoRequest" type="enviarCorreoReprocesoRequestType"/>
            <xs:complexType name="enviarCorreoReprocesoRequestType">
                <xs:sequence>
                    <xs:element name="correo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="fecha" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part element="io:enviarCorreoReprocesoRequest" name="request" />
    </wsdl:message>
    <wsdl:portType name="CorreoReprocesoPortType">
        <wsdl:operation name="enviarCorreoReproceso">
            <wsdl:input message="tns:requestMessage" name="request" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CorreoReprocesoSOAP11Binding" type="tns:CorreoReprocesoPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="enviarCorreoReproceso">
            <soap:operation soapAction="http://www.cgr.cl/osb/informes/ic/v2/sigfe/enviarCorreoReproceso"/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>