src/main/webapp/resources/wsdl/procesarInformes.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cgr.cl/osb/informes/ic/v2/sigfe/reproceso" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ValidarInforme" targetNamespace="http://www.cgr.cl/osb/informes/ic/v2/sigfe/reproceso">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.cgr.cl/osb/informes/ic/v2/sigfe/reproceso">
            <xsd:element name="procesarInformesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="listaInformes" type="tns:listaInformesType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="listaInformesType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="informe" type="tns:informeType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="informeType">
                <xsd:sequence>
                    <xsd:element name="uuid" type="xsd:string"/>
                    <xsd:element name="periodo" type="xsd:string"/>
                    <xsd:element name="capitulo" type="xsd:string"/>
                    <xsd:element name="partida" type="xsd:string"/>
                    <xsd:element name="ejercicio" type="xsd:string"/>
                    <xsd:element name="filuId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.cgr.cl/osb/informes/ic/v2/sigfe/reproceso">
            <xsd:element name="procesarInformesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="codigo" type="xsd:integer"/>
                        <xsd:element name="mensaje" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part element="tns:procesarInformesRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="responseMessage">
        <wsdl:part element="tns:procesarInformesResponse" name="response"/>
    </wsdl:message>
    <wsdl:portType name="ReprocesoPortType">
        <wsdl:operation name="procesarInformes">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:responseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReprocesoSOAP11Binding" type="tns:ReprocesoPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="procesarInformes">
            <soap:operation soapAction="http://www.cgr.cl/osb/informes/ic/v2/sigfe/reproceso/procesarInformes"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>